

<footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="img/slider/bg2.jpg" style="background-image: url(&quot;img/slider/bg2.jpg&quot;);">
    <div class="container">
        <div class="row border-bottom">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <img class="mt-5 mb-20" alt="" src="~/Content/img/logo-white-footer.png">
                    <p>203, Envato Labs, Behind Alis Steet, Melbourne, Australia.</p>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray"
                                                                                   href="#">123-456-789</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i>
                            <a class="text-gray" href="#">contact@yourdomain.com</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray"
                                                                                   href="#">www.yourdomain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title">Liên kết</h4>
                    <ul class="list angle-double-right list-border">
                        <li><a href="@Url.Action("about","Home")">Giới thiệu</a></li>
                        <li><a href="@Url.Action("listOfTutors","Tutor")">Danh sách gia sư</a></li>
                        <li><a href="@Url.Action("contact","Home")">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="widget dark">
                            <h5 class="widget-title mb-10">Hãy gọi cho chúng tôi</h5>
                            <div class="text-gray">
                                +61 3 1234 5678 <br>
                                +12 3 1234 5678
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="widget dark">
                            <h5 class="widget-title mb-10">Liêc lạc với chúng tôi</h5>
                            <ul class="styled-icons icon-bordered icon-sm">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    @*<div class="col-sm-12 col-md-12">
                        <h5 class="widget-title mb-10">Theo dõi thông báo</h5>
                        <form id="mailchimp-subscription-form-footer" class="newsletter-form" novalidate="true">
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" placeholder="Email của bạn" class="form-control input-lg font-16"
                                       data-height="45px" id="mce-EMAIL-footer" style="height: 45px;">
                                <span class="input-group-btn">
                                    <button data-height="45px" class="btn bg-theme-color-2 text-white btn-xs m-0 font-14"
                                            type="submit" style="height: 45px;">
                                        Theo dõi
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-black-333">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-11 text-black-777 m-0">Copyright ©2016 ThemeMascot. All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Help Desk</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
