
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link href="~/Content/vendor/bootstrap/css/register.component.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="register-form flash hide">
                <form action="/User/CheckForgotPW" method="post" onsubmit="return validation()">
                    <img src="~/Content/img/register/registration-form-1.png" alt="" class="image-1">
                    <h3>Quên mật khẩu</h3>
                    <div class="default">
                        @if (ViewBag.Err != null)
                        {
                            <div><span style="color:brown">@ViewBag.Err</span></div>
                        }
                        <div><span class="lnr lnr-user">Hãy điền <span style="color:red">tên đăng nhập</span> và <span style="color:red">email</span> của bạn vào đây chúng tôi sẽ gửi mật khẩu mới vào email cho bạn</span> <br /></div>

                        <div class="form-holder">
                            <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                            <span class="text-danger" id="username1"></span>
                        </div>
                        <div class="form-holder">
                            <input type="text" class="form-control" placeholder="Email" name="emails" id="emails">
                            <span class="text-danger" id="emailids"></span>

                        </div>


                    </div>
                    Nếu bạn đã có tài khoản
                    <a href="~/User/Login" style="margin-left: 35%; margin-bottom: 20px">Login</a>
                    <button type="submit">
                        <span>Xác nhận</span>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="register.component.js"></script>
    <script type="text/javascript">
        function validation() {
            var username = document.getElementById('username').value;
            var emails = document.getElementById('emails').value;

            if (username == "") {
                document.getElementById('username1').innerHTML = " ** Họ tên không rỗng";
                return false;
            }
            if (emails == "") {
                document.getElementById('emailids').innerHTML = " ** Email không rỗng";
                return false;
            }
            if ((emails.charAt(emails.length - 4) != '.') && (emails.charAt(emails.length - 3) != '.')) {
                document.getElementById('emailids').innerHTML = " ** Email không đúng định dạng";
                return false;
            }
        }

    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


</html>
