@{
    ViewBag.Title = "Register";
    Layout = null;
}

<html>

<head>
    <meta charset="utf-8">
    <title>Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link href="~/Content/build/css/styleRegister.css" rel="stylesheet" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- STYLE CSS -->
    <link href="~/Content/vendor/bootstrap/css/register.component.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="register-form flash hide validate-form">
                <form action="/User/RegisterParent" method="post" onsubmit="return validation()" class="contact100-form validate-form">
                    <img src="~/Content/img/register/registration-form-1.png" alt="" class="image-1" />
                    <h3>Đăng ký tài khoản</h3>
                    <div class="default">
                        @if (ViewBag.Er != null)
                        {
                            <div><span style="color:brown">@ViewBag.Er</span></div>
                        }
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Họ và tên không được rỗng">
                            <input id="fullname" type="text" class="form-control input100" name="fullname" placeholder="Họ và tên" autocomplete="off">
                            <div class="text-danger focus-input100" id="fullnames"></div>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Username không được rỗng">
                            <input id="username" type="text" class="form-control input100" name="username" placeholder="Tên tài khoản" autocomplete="off">
                            <div class="text-danger focus-input100" id="usernames"></div>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Số điện thoại không được rỗng">
                            <input id="phone" type="text" class="form-control input100" name="phone" placeholder="Số điện thoại" autocomplete="off">
                            <div class="text-danger focus-input100" id="phones"></div>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Email không được rỗng và phải đúng định dạng">
                            <input id="email" type="email" class="form-control input100" name="email" placeholder="Email" autocomplete="off">
                            <div class="text-danger focus-input100" id="emails"></div>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Mật khẩu không được rỗng">
                            <input id="password" type="password" class="form-control input100" name="password" placeholder="Mật khẩu" autocomplete="off">
                            <div class="text-danger focus-input100" id="passwords"></div>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group input100" data-validate="Nhập lại mật khẩu không được rỗng và phải trùng với mật khẩu">
                            <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" placeholder="Nhập lại mật khẩu" autocomplete="off">
                            <div class="password-error" style="color:red;margin-top:10px;"></div>
                            <div class="text-danger focus-input100" id="confirmpasswords"></div>
                        </div>
                    </div>
                    <div class="sub">
                    </div>
                    <div class="form-holder" style="width:100%;float:left">
                        <label>Bạn là:</label>
                        <div class="role">
                            <label>
                                <input type="radio" name="role" value="0"> Giảng viên
                            </label>
                            <label>
                                <input type="radio" name="role" value="1"> Phụ Huynh
                            </label>
                            <label>
                                <input type="radio" name="role" value="2"> Học Viên
                            </label>
                        </div>
                    </div>
                    <button class="btnSubmit" type="submit" id="btn-register" disabled>
                        <span>Đăng Ký</span>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var valRole;
            $('input[type="radio"][name="role"]').on('change', function () {
                valRole = $(this).val();
                var form = [
                    "@Url.Action("RegisterTuTor","User")",
                    "@Url.Action("RegisterStudent", "User")",
                    "@Url.Action("RegisterParent", "User")"

                ];

                var registerForm = $('.register-form');
                $(".register-form form").attr("action", form[valRole]);
                $("#btn-register").removeAttr("disabled");
                var duration = registerForm.hasClass("extend") ? 1000 : 200
                registerForm.removeClass("hide").removeClass("extend");
                renderSubForm(valRole);
                setTimeout(() => {
                    registerForm.addClass("extend");
                    setTimeout(() => {
                        registerForm.addClass("hide")
                    }, 1000);
                }, duration);
            })

        })
        function validation() {
            var role = $('input[type="radio"][name="role"]:checked').val();
            var check = false;
            switch (role) {
                case "0":
                    check = validateForTuTor();
                    break;
                case "1":
                    check = validateForParent();
                    break;
                case "2":
                    check = validateForStudent();
                    break;
                default:
                    check = false;
            }
            return check;

        }
        function checkConfirmPassword() {
            var check = true;
            $(".password-error").empty();
            var password = $("input[name='password']").val();
            var rePassword = $("input[name='confirmpassword']").val();
            if (password != rePassword) {
                check = false;
                $(".password-error").html('pssword is not match with confirm password');
            }
            console.log(password);
            return check;
        }

        function renderSubForm(tab) {
            var teacherContent = `	<div class="form-holder wrap-input100 validate-input form-group" data-validate="Địa chỉ không được rỗng">
                                            <input id="address" type="text" class="form-control input100" name="address"  placeholder="Địa chỉ" autocomplete="off">
                                            <div class="text-danger focus-input100" id="addresss"></div>
                                        </div>
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Ngày sinh không được rỗng">
                                            <input id="birthday" type="text" class="form-control input100" name="birthday" placeholder="Ngày sinh" autocomplete="off">
                                            <div class="text-danger focus-input100" id="birthdays"></div>
                                        </div>
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Chuyên ngành giảng dạy không được rỗng">
                                            <input id="specialized" type="text" class="form-control input100" name="specialized" placeholder="Chuyên ngành giảng dạy	" autocomplete="off">
                                            <div class="text-danger focus-input100" id="specializeds"></div>
                                        </div>
                                        <div class="form-holder">
                                            <select name="experience" id="experience" class="form-control" style="border: none">
                                                <option value="" disabled selected>Năm kinh nghiệm</option>
                                                <option value="1">Không kinh nghiệm</option>
                                                <option value="2">+1</option>
                                                <option value="3">+3</option>
                                                <option value="4">+5</option>
                                            </select>
                                            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                            <div class="text-danger focus-input100" id="experiences"></div>
                                        </div>
                                        `;
            var parentContent = `
                                        `;
            var studentContent = `
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Địa chỉ không được rỗng">
                                            <input id="address" type="text" class="form-control input100" name="address" placeholder="Địa chỉ" autocomplete="off">
                                            <div class="text-danger focus-input100" id="addresss"></div>
                                        </div>
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Ngày sinh không được rỗng">
                                            <input id="birthday" type="text" class="form-control input100" name="birthday" placeholder="Ngày sinh" autocomplete="off">
                                            <div class="text-danger focus-input100" id="birthdays"></div>
                                        </div>
                                        <div class="form-holder">
                                            <select name="Class" id="class" class="form-control" style="border: none">
                                                <option value="" disabled selected>Lớp</option>
                                                <option value="1">Lớp 1</option>
                                                <option value="2">Lớp 2</option>
                                                <option value="3">Lớp 3</option>
                                                <option value="4">Lớp 4</option>
                                                <option value="5">Lớp 5</option>
                                                <option value="6">Lớp 6</option>
                                                <option value="7">Lớp 7</option>
                                                <option value="8">Lớp 8</option>
                                                <option value="9">Lớp 9</option>
                                                <option value="10">Lớp 10</option>
                                                <option value="11">Lớp 11</option>
                                                <option value="12">Lớp 12</option>
                                            </select>
                                            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                            <div class="text-danger focus-input100" id="classs"></div>
                                        </div>
                                        `;
            var subContentArr = [teacherContent, parentContent, studentContent];
            var sub = $('.register-form .sub');
            sub.empty();
            sub.html(subContentArr[tab]);
        }

        function validateForTuTor() {
            var fullname = document.getElementById('fullname').value;
            var username = document.getElementById('username').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var confirmpassword = document.getElementById('confirmpassword').value;
            var address = document.getElementById('address').value;
            var birthday = document.getElementById('birthday').value;
            var specialized = document.getElementById('specialized').value;
            var experience = document.getElementById('experience').value;
            var notError = true;
            if (fullname == "") {
                document.getElementById('fullnames').innerHTML = "** Họ và tên không được rỗng";
                notError = false;
            }
            if (username == "") {
                document.getElementById('usernames').innerHTML = " ** Tên đăng nhập không được rỗng";
                notError = false;
            }
            if (phone == "") {
                document.getElementById('phones').innerHTML = " ** Số điện thoại không được rỗng";
                notError = false;
            }
            if (isNaN(phone)) {
                document.getElementById('phones').innerHTML = " ** Số điện thoại phải là số";
                notError = false;
            }
            if (phone.length != 10) {
                document.getElementById('phones').innerHTML = " ** Số điện thoại phải có 10 số trở lên";
                notError = false;
            }
            if (email == "") {
                document.getElementById('emails').innerHTML = " ** Email không được rỗng";
                notError = false;
            }
            @*if (email.indexOf('@') <= 0) {
                document.getElementById('emails').innerHTML = " **Email không hợp lệ";
                return false;
            }*@

			if ((email.charAt(email.length - 4) != '.') && (email.charAt(email.length - 3) != '.')) {
                document.getElementById('emails').innerHTML = " ** Email phải đúng định dạng: ex@abc.xyz";
                notError = false;
            }
            if (password == "") {
                document.getElementById('passwords').innerHTML = " ** Mật khẩu không được rỗng";
                notError = false;
            }
            if (password != confirmpassword) {
                document.getElementById('confirmpasswords').innerHTML = " ** Xác nhận mật khẩu phải trùng với Mật khẩu";
                notError = false;
            }
            if (confirmpassword == "") {
                document.getElementById('confirmpasswords').innerHTML = " ** Xác nhận mật khẩu không được rỗng";
                notError = false;
            }
            if (address == "") {
                document.getElementById('addresss').innerHTML = " ** Địa chỉ không được rỗng";
                notError = false;
            }
            if (birthday == "") {
                document.getElementById('birthdays').innerHTML = " ** Ngày sinh không được rỗng";
                notError = false;
            }
            if (specialized == "") {
                document.getElementById('specializeds').innerHTML = " ** Chuyên ngành giảng dạy không được rỗng";
                notError = false;
            }
            if (experience == "") {
                document.getElementById('experiences').innerHTML = " ** Năm kinh nghiệm không được rỗng";
                notError = false;
            }
            return notError;
        }
        function validateForParent() {
            var fullname = document.getElementById('fullname').value;
            var username = document.getElementById('username').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var confirmpassword = document.getElementById('confirmpassword').value;
            var notError = true;
            if (fullname == "") {
                document.getElementById('fullnames').innerHTML = " ** Họ và tên không được rỗng";
                notError = false;
            }
            if (username == "") {
                document.getElementById('usernames').innerHTML = " ** Tên đăng nhập không được rỗng";
                notError = false;
            }
            if (phone == "") {
                document.getElementById('phones').innerHTML = " ** Số điện thoại không được rỗng";
                notError = false;
            }
            if (isNaN(phone)) {
                document.getElementById('phones').innerHTML = " ** Số điện thoại phải là số";
                notError = false;
            }
            if (phone.length != 10) {
                document.getElementById('phones').innerHTML = " ** Số điện thoại phải có 10 số trở lên";
                notError = false;
            }
            if (email == "") {
                document.getElementById('emails').innerHTML = " ** Email không rỗng và phải đúng định dạng: ex@abc.xyz";
                notError = false;
            }
            @*if (email.indexOf('@') <= 0) {
                document.getElementById('emails').innerHTML = " **Email không hợp lệ";
                return false;
            }*@

			if ((email.charAt(email.length - 4) != '.') && (email.charAt(email.length - 3) != '.')) {
                document.getElementById('emails').innerHTML = " ** Email không đúng định dạng";
                notError = false;
            }
            if (password == "") {
                document.getElementById('passwords').innerHTML = " ** Mật khẩu không được rỗng";
                notError = false;
            }
            if (password != confirmpassword) {
                document.getElementById('confirmpasswords').innerHTML = " ** Xác nhận mật khẩu phải trùng với Mật khẩu";
                notError = false;
            }
            if (confirmpassword == "") {
                document.getElementById('confirmpasswords').innerHTML = " ** Xác nhận mật khẩu không được rỗng";
                notError = false;
            }
            return notError;
        }
        function validateForStudent() {
            var fullname = document.getElementById('fullname').value;
            var username = document.getElementById('username').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var confirmpassword = document.getElementById('confirmpassword').value;
            var address = document.getElementById('address').value;
            var birthday = document.getElementById('birthday').value;
            var classs = document.getElementById('class').value;
            if (fullname == "") {
                document.getElementById('fullnames').innerHTML = " ** Họ và tên không được rỗng";
                notError = false;
            }
            if (username == "") {
                document.getElementById('usernames').innerHTML = " ** Tên đăng nhập không được rỗng";
                notError = false;
            }
            if (phone == "") {
                document.getElementById('phones').innerHTML = " ** Số điện thoại không được rỗng";
                notError = false;
            }
            if (isNaN(phone)) {
                document.getElementById('phones').innerHTML = " ** Số điện thoại phải là số";
                notError = false;
            }
            if (phone.length != 10) {
                document.getElementById('phones').innerHTML = " ** Số điện thoại phải có 10 số trở lên";
                notError = false;
            }
            if (email == "") {
                document.getElementById('emails').innerHTML = " ** Email không rỗng và phải đúng định dạng: ex@abc.xyz";
                notError = false;
            }
            @*if (email.indexOf('@') <= 0) {
                document.getElementById('emails').innerHTML = " **Email không hợp lệ";
                return false;
            }*@

			if ((email.charAt(email.length - 4) != '.') && (email.charAt(email.length - 3) != '.')) {
                document.getElementById('emails').innerHTML = " ** Email không đúng định dạng";
                notError = false;
            }
            if (password == "") {
                document.getElementById('passwords').innerHTML = " ** Mật khẩu không được rỗng";
                notError = false;
            }
            if (password != confirmpassword) {
                document.getElementById('confirmpasswords').innerHTML = " ** Xác nhận mật khẩu phải trùng với Mật khẩu";
                notError = false;
            }
            if (confirmpassword == "") {
                document.getElementById('confirmpasswords').innerHTML = " ** Xác nhận mật khẩu không được rỗng";
                notError = false;
            }
            if (address == "") {
                document.getElementById('addresss').innerHTML = " ** Địa chỉ không được rỗng";
                notError = false;
            }
            if (birthday == "") {
                document.getElementById('birthdays').innerHTML = " ** Ngày sinh không được rỗng";
                notError = false;
            }
            if (classs == "") {
                document.getElementById('classs').innerHTML = " ** Lớp không được rỗng";
                notError = false;
            }
            return notError;
        }
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
