@{

    ViewBag.Title = "Register";
    Layout = null;
}

<html>

<head>
    <meta charset="utf-8">
    <title>Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link href="~/Content/build/css/styleRegister.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="~/Content/vendor/bootstrap/css/register.component.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="register-form flash hide validate-form">
                <form action="/User/RegisterParent" method="post" onsubmit="return validation()">
                    <img src="~/Content/img/register/registration-form-1.png" alt="" class="image-1" />
                    <h3>Đăng ký tài khoản</h3>
                    <div class="default">
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Họ và tên không được rỗng">
                            <span class="lnr lnr-user"></span>
                            <input id="fullname" type="text" class="form-control" name="fullname" placeholder="Họ và tên" autocomplete="off" required="" oninvalid="this.setCustomValidity('Họ và tên không được rỗng!')" oninput="setCustomValidity('')">
                            <span class="text-danger focus-input100" id="fullname"></span>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Username không được rỗng">
                            <span class="lnr lnr-users"></span>
                            <input id="username" type="text" class="form-control" name="username" placeholder="Tên tài khoản" autocomplete="off" required="" oninvalid="this.setCustomValidity('Username không được rỗng!')" oninput="setCustomValidity('')">
                            <span class="text-danger focus-input100" id="username"></span>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Số điện thoại không được rỗng">
                            <span class="lnr lnr-phone-handset"></span>
                            <input id="phone" type="text" class="form-control" name="phone" placeholder="Số điện thoại" autocomplete="off" required="" oninvalid="this.setCustomValidity('Số điện thoại không được rỗng!')" oninput="setCustomValidity('')">
                            <span class="text-danger focus-input100" id="phone"></span>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Email không được rỗng và phải đúng định dạng">
                            <span class="lnr lnr-envelope"></span>
                            <input id="email" type="text" class="form-control" name="email" placeholder="Email" autocomplete="off" required="" oninvalid="this.setCustomValidity('Email không được rỗng và phải đúng định dạng!')" oninput="setCustomValidity('')">
                            <span class="text-danger focus-input100" id="email"></span>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Mật khẩu không được rỗng">
                            <span class="lnr lnr-lock"></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Mật khẩu" autocomplete="off" required="" oninvalid="this.setCustomValidity('Mật khẩu không được rỗng!')" oninput="setCustomValidity('')">
                            <span class="text-danger focus-input100" id="password"></span>
                        </div>
                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Nhập lại mật khẩu không được rỗng và phải trùng với mật khẩu">
                            <span class="lnr lnr-lock"></span>
                            <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" placeholder="Nhập lại mật khẩu" autocomplete="off" required="" oninvalid="this.setCustomValidity('Nhập lại mật khẩu không được rỗng và phải trùng với mật khẩu!')" oninput="setCustomValidity('')">
                            <div class="password-error" style="color:red;margin-top:10px;"></div>
                            <span class="text-danger focus-input100" id="confirmpassword"></span>
                        </div>
                    </div>
                    <div class="sub">
                    </div>
                    <div class="form-holder" style="width:100%;float:left">
                        <label>Bạn là:</label>
                        <div class="role">
                            <label>
                                <input type="radio" name="role" value="0"> Giảng viên
                            </label>
                            <label>
                                <input type="radio" name="role" value="1"> Phụ Huynh
                            </label>
                            <label>
                                <input type="radio" name="role" value="2"> Học Viên
                            </label>
                        </div>
                    </div>
                    <button class="btnSubmit" type="submit" id="btn-register" disabled>
                        <span>Đăng Ký</span>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="register.component.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type="radio"][name="role"]').on('change', function () {
                var valRole = $(this).val();
                var form = [
                    "@Url.Action("RegisterTuTor","User")",
                    "@Url.Action("RegisterStudent", "User")",
                    "@Url.Action("RegisterParent", "User")"

                ];

                var registerForm = $('.register-form');
                $(".register-form form").attr("action", form[valRole]);
                $("#btn-register").removeAttr("disabled");
                var duration = registerForm.hasClass("extend") ? 1000 : 200
                registerForm.removeClass("hide").removeClass("extend");
                renderSubForm(valRole);
                setTimeout(() => {
                    registerForm.addClass("extend");
                    setTimeout(() => {
                        registerForm.addClass("hide")
                    }, 1000);
                }, duration);
            })
        })
        function checkConfirmPassword() {
            var check = true;
            $(".password-error").empty();
            var password = $("input[name='password']").val();
            var rePassword = $("input[name='confirmpassword']").val();
            if (password != rePassword) {
                check = false;
                $(".password-error").html('pssword is not match with confirm password');
            }
            console.log(password);
            return check;
        }
        function validation() {

            var fullname = document.getElementById('fullname').value;
            var username = document.getElementById('username').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var confirmpassword = document.getElementById('confirmpassword').value;
            var address = document.getElementById('address').value;
            var birthday = document.getElementById('birthday').value;
            var specialized = document.getElementById('specialized').value;

            if (fullname == "") {
                document.getElementById('fullname').innerHTML = " ** Họ và tên không được rỗng";
                return false;
            }
            if (username == "") {
                document.getElementById('username').innerHTML = " ** Username không được rỗng";
                return false;
            }
            if (phone == "") {
                document.getElementById('phone').innerHTML = " ** Số điện thoại không được rỗng";
                return false;
            }
            if (email == "") {
                document.getElementById('email').innerHTML = " ** Email không rỗng và phải đúng định dạng: ex@abc.xyz";
                return false;
            }
            if (password == "") {
                document.getElementById('Password').innerHTML = " ** Password không được rỗng";
                return false;
            }
            if (password != confirmpassword) {
                document.getElementById('Passwords').innerHTML = " ** ConfirmPassword phải trùng với Password";
                return false;
            }
            if (confirmpassword == "") {
                document.getElementById('confirmpassword').innerHTML = " ** ConfirmPassword không được rỗng";
                return false;
            }
            if (address == "") {
                document.getElementById('address').innerHTML = " ** Địa chỉ không được rỗng";
                return false;
            }
            if (birthday == "") {
                document.getElementById('birthday').innerHTML = " ** Ngày sinh không được rỗng";
                return false;
            }
            if (specialized == "") {
                document.getElementById('specialized').innerHTML = " ** Chuyên ngành giảng dạy không được rỗng";
                return false;
            }
        }
        function renderSubForm(tab) {
            var teacherContent = `	<div class="form-holder wrap-input100 validate-input form-group" data-validate="Địa chỉ không được rỗng">
                                            <span class="lnr lnr-user"></span>
                                            <input id="address" type="text" class="form-control" name="address"  placeholder="Địa chỉ" autocomplete="off" required="" oninvalid="this.setCustomValidity('Địa chỉ không được rỗng!')" oninput="setCustomValidity('')">
                                            <span class="text-danger focus-input100" id="address"></span>
                                        </div>
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Ngày sinh không được rỗng">
                                            <span class="lnr lnr-phone-handset"></span>
                                            <input id="birthday" type="text" class="form-control" name="birthday" placeholder="Ngày sinh" autocomplete="off" required="" oninvalid="this.setCustomValidity('Ngày sinh không được rỗng!')" oninput="setCustomValidity('')">
                                            <span class="text-danger focus-input100" id="birthday"></span>
                                        </div>
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Chuyên ngành giảng dạy không được rỗng">
                                            <span class="lnr lnr-envelope"></span>
                                            <input id="specialized" type="text" class="form-control" name="specialized" placeholder="Chuyên ngành giảng dạy	" autocomplete="off" required="" oninvalid="this.setCustomValidity('Chuyên ngành giảng dạy không được rỗng!')" oninput="setCustomValidity('')">
                                            <span class="text-danger focus-input100" id="specialized"></span>
                                        </div>
                                        <div class="form-holder">
                                            <span class="lnr lnr-envelope"></span>
                                            <select name="experience" id="" class="form-control" style="border: none">
                                            <option value="" disabled selected>Năm kinh nghiệm</option>
                                            <option value="1">Không kinh nghiệm</option>
                                            <option value="2">+1</option>
                                            <option value="3">+3</option>
                                            <option value="4">+5</option>
                                        </select>
                                            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                        </div>
                                        <div class="form-holder">
                                            <span class="lnr lnr-lock"></span>
                                            <input type="file" class="form-control" name="certificate" placeholder="Bằng cấp">
                                        </div>`;
            var parentContent = `
                                        `;
            var studentContent = `
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Địa chỉ không được rỗng">
                                            <span class="lnr lnr-lock"></span>
                                            <input id="address" type="text" class="form-control" name="address" placeholder="Địa chỉ" autocomplete="off" required="" oninvalid="this.setCustomValidity('Địa chỉ không được rỗng!')" oninput="setCustomValidity('')">
                                            <span class="text-danger focus-input100" id="address"></span>
                                        </div>
                                        <div class="form-holder wrap-input100 validate-input form-group" data-validate="Ngày sinh không được rỗng">
                                            <span class="lnr lnr-lock"></span>
                                            <input id="birthday" type="text" class="form-control" name="birthday" placeholder="Ngày sinh" autocomplete="off" required="" oninvalid="this.setCustomValidity('Ngày sinh không được rỗng!')" oninput="setCustomValidity('')">
                                            <span class="text-danger focus-input100" id="birthday"></span>
                                        </div>
                                        <div class="form-holder">
                                            <span class="lnr lnr-phone-handset"></span>
                                            <select name="Class" id="" class="form-control" style="border: none">
                                                <option value="" disabled selected>Lớp</option>
                                                <option value="1">Lớp 1</option>
                                                <option value="2">Lớp 2</option>
                                                <option value="3">Lớp 3</option>
                                                <option value="4">Lớp 4</option>
                                                <option value="5">Lớp 5</option>
                                                <option value="6">Lớp 6</option>
                                                <option value="7">Lớp 7</option>
                                                <option value="8">Lớp 8</option>
                                                <option value="9">Lớp 9</option>
                                                <option value="10">Lớp 10</option>
                                                <option value="11">Lớp 11</option>
                                                <option value="12">Lớp 12</option>
                                            </select>
                                            <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                                        </div>
                                        `;
            var subContentArr = [teacherContent, parentContent, studentContent];
            var sub = $('.register-form .sub');
            sub.empty();
            sub.html(subContentArr[tab]);
        }
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
