
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<link href="~/Content/vendor/bootstrap/css/about.component.css" rel="stylesheet" />
<body>
    <!-- --------------------navbar about us ----------------------- -->
    <nav class="navbar1 navbar-expand-sm text-dark pt-4" style="font-weight: bold; margin-top:20px">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section1" style="font-size: 20px">VỀ CHÚNG TÔI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section2" style="font-size: 20px">GIÁ TRỊ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section3" style="font-size: 20px">GIÁO DỤC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section4" style="font-size: 20px">ĐỘI NGŨ NHÂN VIÊN</a>
            </li>
        </ul>
    </nav>
    <!-- --------------------navbar about us ----------------------- -->
    <!-- ------------------------------------item aboutus------------------------------------ -->
    <section class="item container-fluid ">
        <!-- ---------------------------item 1: về chúng tôi---------------------------- -->
        <div class="row pt-4 p-5" id="section1" style="margin-bottom: -24px;">
            <div class="col-sm-6 col-md-6 col-sm-12 section1a">
                <img src="~/Content/img/aboutus/ourStory.jpg" alt="" style="position: relative;height: 100%; width: 100%;margin-top:-25px; " />
            </div>

            <div class="col-sm-6 col-md-6 col-sm-12 section1b">
                <h2 class="ml-3 pt-5 title"><strong>VỀ CHÚNG TÔI</strong></h2>
                <p class="circle pl-3 p-3">
                    <span class="circle__item text-muted subtitle">Công ty được thành lập 1 năm</span>
                </p>
                <p class="text-muted pl-3 pb-4 mr-5 content" style="text-align: justify">
                    ETuitor tự hào trở thành đơn vị đào tạo học trực tuyến đạt tiêu chuẩn chất lượng tốt nhất được công nhận bởi người dùng,
                    tổ chức độc lập quản lý chất lượng các trung tâm giảng dạy học tập trực tuyến hiệu quả nhất.
                    Trong suốt thời gian qua, chúng tôi đã nhận được rất nhiều phản hồi tốt từ phía người dùng và hi vọng trong tương lai sẽ phát triển hơn nữa

                </p>
            </div>
        </div>
        <!-- ---------------------------item 1: về chúng tôi---------------------------- -->
        <!-- ---------------------------item 2: giá trị mang lại---------------------------- -->
        <div class="row pt-4 p-5" id="section2" style="margin-bottom: -24px;">
            <div class="col-sm-6 col-md-6 col-sm-12 section2a">
                <h2 class="ml-3 pt-5 title"><strong>GIÁ TRỊ MANG LẠI</strong></h2>
                <p class="circle pl-3 p-3">
                    <span class="circle__item text-muted subtitle">Giá trị ETuitor mang đến người dùng.</span>
                </p>
                <p class="text-muted pl-3 pb-4 mr-5 content" style="text-align: justify">
                    Trung tâm ETuitor mang đến cho người dùng các tiêu chí học tập tốt nhất:
                    <br />
                    - Chất lượng giảng dạy cao
                    <br />
                    - Khoá học đáp ứng nhu cầu học sinh
                    <br />
                    - Công nghệ giảng dạy tiên tiến
                    <br />
                    - Môi trường học tập an toàn và hữu ích
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-sm-12 section2b pt-4">
                <img src="~/Content/img/aboutUs/ourValue.jpg" alt="" style="position: relative;height: 96%; width: 100%;margin-top:-25px; margin-left: -10px">
            </div>

        </div>
        <!-- ---------------------------item 2: giá trị mang lại---------------------------- -->
        <!-- ---------------------------item 3: giáo dục toàn diện---------------------------- -->
        <div class="row p-5" id="section3" style="margin-bottom: -24px;">
            <div class="col-sm-6 col-md-6 col-sm-12 pt-4 section3a">
                <img src="~/Content/img/aboutUs/ourEducation.jpg" alt="" style="position: relative;height: 105%; width: 100%;margin-top:-25px; margin-left: 0">
            </div>
            <div class="col-sm-6 col-md-6 col-sm-12 pt-3 section3b">
                <h2 class="ml-3 pt-5 title"><strong>GIÁO DỤC TOÀN DIỆN</strong></h2>
                <p class="circle pl-3 p-3">
                    <span class="circle__item text-muted subtitle">Giáo dục đi đôi với công nghệ</span>
                </p>
                <p class="text-muted pl-3 pb-4 mr-5 content" style="text-align: justify">
                    Công nghệ thông tin là ngành ứng dụng công nghệ quản lý và xử lý thông tin.
                    Với tốc độ phát triển liên tục của công nghệ như ngày nay làm cho việc
                    luân chuyển thông tin trở nên cực kỳ nhanh chóng à vai trò của thông tin ngày càng trở nên quan trọng.
                    Những khả năng mới mẻ và ưu việt này của công nghệ đã nhanh chóng là thay đổi cách sống, cách làm việc,
                    cách học tập và cách tư duy và quan trọng hơn cả là cachs ra quyết định của con người.
                    Chính vì thế mà nó có tác động to lớn và toàn diện đến xã hội, đặc biệt là giáo dục
                </p>
            </div>
        </div>
        </div>

        <!-- ---------------------------item 3: giáo dục toàn diện---------------------------- -->
        <!-- ----------------------------item 4: đội ngũ nhân viên---------------------------- -->

        <section class="wap_info_teachers mt-5" id="section4">
            <div class="container">
                <div class="col-md-12 mb-5 title_teachers">
                    <h2 class="text-center title"> ĐỘI NGŨ NHÂN VIÊN</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-sm-12">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/avatar/member/thy.jpg" />
                                    <div class="member-info-intro">
                                        <h5>Anh Thy</h5>
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <p class="p-0">
                                            Người ta thường nói gộp chung khoa học và kiến thức. Đây là một ý kiến sai lệch.
                                            Khoa học không chỉ là kiến thức mà còn là ý thức, cũng chính là bản lĩnh vận dụng kiến thức.
                                        </p>

                                    </div>
                                    <div class="member-hover-link pt-4">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-sm-12">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/avatar/member/my.jpg" width="100%" height="295px" />
                                    <div class="member-info-intro">
                                        <h5> Tiểu My</h5>
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">

                                        <p class="pb-4">
                                            Hiện thực là bờ bên này; lý tưởng là bờ bên kia, ở giữa là dòng sông cuồn cuộn chảy,
                                            hành động là chiếc cầu bắc ngang sông.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-sm-12">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/avatar/member/hoa.jpg" />
                                    <div class="member-info-intro">
                                        <h5> Phú Hòa</h5>
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <p class="pb-4">
                                            Ngủ dậy muộn thì phí mất cả ngày, ở tuổi thanh niên mà
                                            không học tập thì phí mất cả cuộc đời .
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-sm-4 col-md-4 col-sm-12">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/avatar/member/nam.jpg" height="295px" />
                                    <div class="member-info-intro">
                                        <h5>Phúc Nam</h5>
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">

                                        <p class="pb-4">
                                            Không bỏ ra một công phu nhất định thì không có khả năng
                                            khám phá sự thật và ai sợ mất công sức thì không có khả năng lĩnh hội được chân lý.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-sm-12">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/avatar/member/vinh.jpg" height="295px" />
                                    <div class="member-info-intro">
                                        <h5> Kim Vinh</h5>
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">

                                        <p class="pb-4">
                                            Giáo dục là vũ khí mạnh nhất mà người ta có thể sử dụng để thay đổi cả thế giới.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-sm-12">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/avatar/member/du.jpg" height="295px" />
                                    <div class="member-info-intro">
                                        <h5>Công Dũ</h5>
                                        <span>Nhân viên</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">

                                        <p class="pb-4">
                                            Có học vấn không có đạo đức như một kẻ xấu;
                                            có đạo đức không có học vấn như một người thô bỉ.
                                        </p>
                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- ----------------------------item 4: đội ngũ nhân viên---------------------------- -->



    </section>
    <!-- ------------------------------------item aboutus------------------------------------ -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>*@
    <script src="jquery.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="google-map-init.js"></script>
</body>