@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<link rel="stylesheet" href="about.component.scss">
<link href="~/Content/vendor/bootstrap/css/about.component.css" rel="stylesheet" />
<body>
    <!-- --------------------navbar about us ----------------------- -->
    <nav class="navbar1 navbar-expand-sm text-dark pt-4" style="font-weight: bold; ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section1" style="font-size: 20px">VỀ CHÚNG TÔI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section2" style="font-size: 20px">GIÁ TRỊ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section3" style="font-size: 20px">GIÁO DỤC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="#section4" style="font-size: 20px">ĐỘI NGŨ NHÂN VIÊN</a>
            </li>
        </ul>
    </nav>
    <!-- --------------------navbar about us ----------------------- -->
    <!-- ------------------------------------item aboutus------------------------------------ -->
    <section class="item container-fluid ">
        <!-- ---------------------------item 1: về chúng tôi---------------------------- -->
        <div class="row pt-4 p-5" id="section1" style="margin-bottom: -24px;">
            <div class="col-6 section1a">
                <img src="~/Content/img/aboutus/ourStory.jpg" alt="" style="position: relative;height: 100%; width: 100%;margin-top:-25px; " />
            </div>

            <div class="col-6 section1b">
                <h2 class="ml-3 pt-5 title"><strong>VỀ CHÚNG TÔI</strong></h2>
                <p class="circle pl-3 p-3">
                    <span class="circle__item text-muted subtitle">It is a long established fact that a reade.</span>
                </p>
                <p class="text-muted pl-3 pb-4 mr-5 content" style="text-align: justify">
                    Sed ut perspiciatis unde omnis
                    iste
                    natus error sit voluptatem accusantium
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis,et quasi architecto
                    beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit,
                    sed quia,consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.,Neque porro quisquam
                    est,
                    qui dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora
                </p>
            </div>
        </div>
        <!-- ---------------------------item 1: về chúng tôi---------------------------- -->
        <!-- ---------------------------item 2: giá trị mang lại---------------------------- -->
        <div class="row pt-4 p-5" id="section2" style="margin-bottom: -24px;">
            <div class="col-6 section2a">
                <h2 class="ml-3 pt-5 title"><strong>GIÁ TRỊ MANG LẠI</strong></h2>
                <p class="circle pl-3 p-3">
                    <span class="circle__item text-muted subtitle">It is a long established fact that a reade.</span>
                </p>
                <p class="text-muted pl-3 pb-4 mr-5 content" style="text-align: justify">
                    Sed ut perspiciatis unde omnis
                    iste
                    natus error sit voluptatem accusantium
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis,et quasi architecto
                    beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit,
                    sed quia,consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.,Neque porro quisquam
                    est,
                    qui dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora
                </p>
            </div>
            <div class="col-6 section2b pt-4">
                <img src="~/Content/img/aboutUs/ourValue.jpg" alt="" style="position: relative;height: 96%; width: 100%;margin-top:-25px; margin-left: -10px">
            </div>

        </div>
        <!-- ---------------------------item 2: giá trị mang lại---------------------------- -->
        <!-- ---------------------------item 3: giáo dục toàn diện---------------------------- -->
        <div class="row p-5" id="section3" style="margin-bottom: -24px;">
            <div class="col-6 pt-4 section3a">
                <img src="~/Content/img/aboutUs/ourEducation.jpg" alt="" style="position: relative;height: 105%; width: 100%;margin-top:-25px; margin-left: 0">
            </div>
            <div class="col-6 pt-3 section3b">
                <h2 class="ml-3 pt-5 title"><strong>GIÁO DỤC TOÀN DIỆN</strong></h2>
                <p class="circle pl-3 p-3">
                    <span class="circle__item text-muted subtitle">It is a long established fact that a reade.</span>
                </p>
                <p class="text-muted pl-3 pb-4 mr-5 content" style="text-align: justify">
                    Sed ut perspiciatis unde omnis
                    iste
                    natus error sit voluptatem accusantium
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis,et quasi architecto
                    beatae
                    vitae dicta sunt explicabo. Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit,
                    sed quia,consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.,Neque porro quisquam
                    est,
                    qui dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora
                </p>
            </div>
        </div>
        </div>

        <!-- ---------------------------item 3: giáo dục toàn diện---------------------------- -->
        <!-- ----------------------------item 4: đội ngũ nhân viên---------------------------- -->

        <section class="wap_info_teachers mt-5" id="section4">
            <div class="container">
                <div class="col-md-12 mb-5 title_teachers">
                    <h2 class="text-center title"> ĐỘI NGŨ NHÂN VIÊN</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/aboutUs/t-1.jpg" alt="">
                                    <div class="member-info-intro">
                                        <h5>Martin Smith</h5>
                                        <span>Founder & Ceo</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <h4 class="pt-4"> I love my Studio</h4>
                                        <p class="p-0">
                                            We are a team of multi-skilled and curious digital specialists
                                            who are
                                            always up for a challenge
                                            and
                                            learning as fast as digital is changing.
                                        </p>

                                    </div>
                                    <div class="member-hover-link pt-4">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/aboutUs/t-2.jpg" alt="">
                                    <div class="member-info-intro">
                                        <h5>Martin Smith</h5>
                                        <span>Founder & Ceo</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <h4 class="pt-5"> I love my Studio</h4>
                                        <p class="pb-4">
                                            We are a team of multi-skilled and curious digital specialists
                                            who are
                                            always up for a challenge
                                            and
                                            learning as fast as digital is changing.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/aboutUs/t-3.jpg" alt="">
                                    <div class="member-info-intro">
                                        <h5>Martin Smith</h5>
                                        <span>Founder & Ceo</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <h4 class="pt-5"> I love my Studio</h4>
                                        <p class="pb-4">
                                            We are a team of multi-skilled and curious digital specialists
                                            who are
                                            always up for a challenge
                                            and
                                            learning as fast as digital is changing.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-4">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/aboutUs/t-3.jpg" alt="">
                                    <div class="member-info-intro">
                                        <h5>Martin Smith</h5>
                                        <span>Founder & Ceo</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <h4 class="pt-5"> I love my Studio</h4>
                                        <p class="pb-4">
                                            We are a team of multi-skilled and curious digital specialists
                                            who are
                                            always up for a challenge
                                            and
                                            learning as fast as digital is changing.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/aboutUs/t-2.jpg" alt="">
                                    <div class="member-info-intro">
                                        <h5>Martin Smith</h5>
                                        <span>Founder & Ceo</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <h4 class="pt-5"> I love my Studio</h4>
                                        <p class="pb-4">
                                            We are a team of multi-skilled and curious digital specialists
                                            who are
                                            always up for a challenge
                                            and
                                            learning as fast as digital is changing.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="member">
                                <div class="member-info">
                                    <img src="~/Content/img/aboutUs/t-1.jpg" alt="">
                                    <div class="member-info-intro">
                                        <h5>Martin Smith</h5>
                                        <span>Founder & Ceo</span>
                                    </div>
                                </div>
                                <div class="member-hover">
                                    <div class="member-hover-intro pt-4">
                                        <h4 class="pt-5"> I love my Studio</h4>
                                        <p class="pb-4">
                                            We are a team of multi-skilled and curious digital specialists
                                            who are
                                            always up for a challenge
                                            and
                                            learning as fast as digital is changing.
                                        </p>

                                    </div>
                                    <div class="member-hover-link">
                                        <a href="#">
                                            <i class="fa fa-facebook "></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- ----------------------------item 4: đội ngũ nhân viên---------------------------- -->



    </section>
    <!-- ------------------------------------item aboutus------------------------------------ -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>